<img alt="Mongolia" src="http://www.mongolianluxurytours.com/img/map.png">
<table style="width: 940px;" border="0" cellspacing="1" cellpadding="4" align="left">
    <tbody>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Population:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>2.9 million</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Area:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>1,566,000 sq km (610,740 sq mi)</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Land boundaries:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>8,158 km, with Russia 3,485 km and with China 4,673 km</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Average altitude:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>1,580 m above sea-level</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Terrain:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>Vast semi-desert and desert plains, mountains in west and south-west, Gobi Desert in south-east</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>People:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>Khalkha Mongols (86%), Kazaks (6%), about a dozen other Mongolian ethnic groups</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Languages:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>Mongolian, Kazakh, Russian, Chinese. English is widely spoken in the Ulaanbaatar.</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Religions:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>Tibetan Buddhism, Muslim, Christian and Shamanism</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Literacy rate:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>82.9%</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Climate:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>Average summer temperature +20\'C, average winter temperature -26\'C, average rainfall 200-220 mm. Winter lasts from November to late April, Spring May through June, Summer from July through to September.</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Political system:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>Parliamentary republic. President elected for four years. Present President Enkhbayar Nambar, elected in 2005. Prime Minister appointed by State Great Khural for four years. Present Prime Minister Mr. Elbegdorj Tsakhia. was appointed in 2004.</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Legislature:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>State Great Khural (Parliament), unicameral with 76 members elected for four years. The last election was held on 2 Juny, 2004.</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Judicial system:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>Mongolian judicial system consists of Constitutional Court , Supreme Court, Aimag and capital city courts, soum and district courts.</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>State structure:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>Mongolia is a unitary state and divided administratively into Aimags (21) and a capital city; Aimags are subdivided into soums; soums into bags; and a capital city into districts; districts into khoroos.</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>National currency:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>Tugrik (MNT), about MNT 1850 = USD 1 in September, 2014</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Fiscal year:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>January 1 - December 31</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Main entry points:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>Buyant Ukhaa (airport in Ulaanbaatar ), Sukhbaatar (railway station on Mongolian-Russian border) and Zamyn Uud (railway station on Mongolian-Chinese border)</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Sea access:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>Tianjin/China (1,344 km) and Nakhodka/Russia (4,037 km)</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Public holidays:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>December 31- January 1 - New Year 3 days in January/February - Mongolian New Year (Tsagaan Sar), June 1 - Mother and Child day, July 11-13 - National Holiday (Naadam)</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Time:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>Add 8 hours to Greenwich Mean Time</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Normal working hours:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>09.00-13.00 and 14.00-18.00</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Electric current:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>220 volts/50 HZ</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Weight and measures:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>Metric System</p>
        </td>
    </tr>
    <tr class="text">
        <td valign="top" width="98">
            <p><strong>Visa arrangements:</strong></p>
        </td>
        <td valign="top" width="551">
            <p>Visa shall be issued by Mongolia Embassies and Diplomatic Missions as well as Honorary consuls of Mongolia , or can be obtained at the airport at a cost of US$53 but must be accompanied by an invitation.</p>
        </td>
    </tr>
    </tbody>
</table>
<style type="text/css">.text {font-size: 16px !important; color: #0F0E02;}</style>