<p><b>OUR COMMITMENT TO YOUR PRIVACY</b></p>

<p>Travel All Mongolia is committed to ensuring your privacy and we respect the rights of everyone who visits our website. We do not share or sell any information you provide to us through the internet. It is our policy to keep your personal information private and kept strictly confidential. If you have questions or comments regarding your www.travelallmongolia.com experience, please e-mail us.</p>

<p><b>SPAM POLICY</b></p>
<p>Travel All Mongolia does not participate in spam e-mail. We only send e-mail to those who have requested information or to be contacted via e-mail. If at any time you believe that we have not complied with these principles, please notify us and we will immediately take action to correct the problem.</p>

<p><b>DOES TRAVELALLMONGOLIA.COM COLLECT ANY PERSONAL INFORMATION ABOUT ME?</b></p>
<p>Travel All Mongolia does not store any personal information you provide to our website unless you fill out and submit a form from the www.travelallmongolia.com site. In addition, we do not collect any personal information without your permission, nor do we sell your information to third parties.</p>