<div class="cols2">
  <div style="width: 630px; float: left;">
    <div class="entry">
        <div class="list_dots">
            <ul>
                <li><a href="{{ path('homepage') }}">Homepage</a></li>
                <li>
                    <a href="javascript:;">Tours</a>
                    <ul>
                        {% for slug, tour in app.content_tours.tours %}
                        <li><a href="{{ path('tour_show', {'slug':slug}) }}">{{ tour.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{{ path('page_show', {'slug':'trip-calendar-2017'}) }}">Trip Calendar</a></li>
                <li><a href="{{ path('page_show', {'slug':'about-mongolia'}) }}">About Mongolia</a>
                    <ul>
                        <li><a href="{{ path('page_show', {'slug':'nomadic-experience'}) }}">Nomadic experience</a></li>
                        <li><a href="{{ path('page_show', {'slug':'mongolian-visa'}) }}">Mongolian visa</a></li>
                        <li><a href="{{ path('page_show', {'slug':'travel-accommodations'}) }}">Travel accommodations</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('page_show', {'slug':'tourist-events'}) }}">Tourist events</a></li>
                <li><a href="{{ path('page_show', {'slug':'tourist-attractions'}) }}">Tourist attractions</a></li>
                <li><a href="{{ path('page_show', {'slug':'about-us'}) }}">About us</a>
                    <ul>
                        <li><a href="{{ path('page_show', {'slug':'why-travel-with-us'}) }}">Why Travel With Us</a></li>
                        <li><a href="{{ path('page_show', {'slug':'experience-luxury-in-mongolia'}) }}">Experience luxury in Mongolia</a></li>
                        <li><a href="{{ path('page_show', {'slug':'testimonials'}) }}">Testimonials</a></li>
                        <li><a href="{{ path('contact') }}">Contact us</a></li>
                        <li><a href="{{ path('page_show', {'slug':'trip-calendar-2017'}) }}">Trip Calendar</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('page_show', {'slug':'terms-and-conditions'}) }}"><span>Terms & Conditions</span></a></li>
                <li><a href="{{ path('page_show', {'slug':'privacy-policy'}) }}"><span>Privacy Statement</span></a></li>
                <li><a href="{{ path('page_show', {'slug':'frequently-asked-questions'}) }}"><span>F.A.Q.</span></a></li>
            </ul>
        </div>
    </div>
  </div>
    <!-- sidebar -->
    <div class="sidebar" style="width: 300px;">
        <div class="box">
            {{ include('Page/_quick_contact.html.twig') }}

            <div class="widget-container subscribe_btn">
                <!--<mark style="padding: 10px;display: block;">OFFER 10% May sale discount</mark>
                <br/>-->
                <div>
                    <a href="{{ path('page_show', {'slug':'trip-calendar-2017'}) }}"><img src="/images/group_travel_2017.jpg" alt="Join our group travel 2017"/></a>
                </div>
            </div>


        </div>

    </div>
    <!--/ sidebar -->
</div>