<h2>“Danshig” Naadam and “Khuree Tsam” Religious Festival</h2>
<p>A project named "Hospitable Ulaanbaatar" has been successfully implemented in Ulaanbaatar during the past two years with the purpose of making the
    city the center of regional tourism. In the framework of this project, the "Danshig" Naadam and the "Khuree Tsam" religious festival are organized
    with the collaboration of the Gandantegchilen Monastery, Governor's Office of Ulaanbaatar, and Ulaanbaatar Tourism Department to take place
    between the 6th and 7th of August. This cultural and religious event is held for two days at Khui Doloon Khudag which is located southwest of
    Ulaanbaatar. The purpose of this festival is to provide tourists with cultural events during the tourist season, support the tradition and culture
    of religion from the state, maintain religious rituals and cultural heritage, and promote them to the public as well as worldwide.
    <br> The Danship Naadam Festival is connected to the history and practice of Buddhism in Mongolia. It represents a symbolic demonstration of unity
    as well as a religious event for the Khalka Mongols. The first Danshig Naadam Festival was dedicated to Zanabazar in 1639 when he was identified
    at the reincarnation of Bogd Javzandamba at the age of 5. The second Danshig Naadam was held in 1921 during the reign of the 8th Bogd Javzandamda,
    the last Khan of Mongolia, in commemoration of the end of the Manchu Empire. The festival was a demonstration of Mongol unity and symbolized
    Mongolian independence from the Manchu Empire. Mongolians stopped celebrating the religious festival in 1922, but it was revived in 1995 in
    commemoration of the 380th anniversary of Zanabazar's birthday.
    <br> The main element of the festival is the "Tsam," a religious dance that was introduced by the Tibetans in the early 18th century. The "Tsam"
    is a complex ritual performance which is a combination of music, dance, and the intricate masks worn by the dancers.
    <br> This is our country's most significant religious festival and consists of special chants, a ceremony to welcome the state flag, the "Tsam,"
    the three manly games (wrestling, horse racing, and archery), knuckle shooting contest, several competitions among the monks, musical
    performances, and a tourism fair. This event begins on August 6th in Chinggis Square with over 500 monks chanting for the well-being of the
    Mongols. The chanting continues from 6 a.m. to 6 p.m.
    <br> The Danshig Naadam is an interesting event for those who may have missed the State Nadaam Festival. Although it is a smaller pesentation of
    the three manly games, 200 - 250 wrestlers participate in the wrestling tournament and approximately 190 participants from 23 teams compete in the
    knuckle shooting contest. Several horse races, including races for mature as well as amber horses, are held at Khui Doloon Khudag.
</p>
<h2>
    <img src="/images/danshig_1.jpg" alt="Danshig naadam and Khuree Tsam Religious Festival"/>
</h2>
<hr>

<h2>The Ice Festival</h2>
<p>Each February, or at the beginning of March, the residents of Huvsgul Lake and the Tsaatan people enjoy celebrating
    the Ice Festival. They take part in different activities and competitions, namely, Ice Sumo, ice skating, sleigh
    rides, and ger building using ice. The festival takes place on or by the shores of Lake Huvsgul. The two-day
    festival provides opportunities to see a shamanist offering ceremony and to observe the lifestyles of the Tsaatan
    people. </p>
<h2>
    <img src="/images/ice_1.jpg" alt="The Ice Festival"/>
</h2>
<hr>

<h2>Camel Festival </h2>
<p>Mongolians refer to this as the “Thousand Camel Festival” and it is a celebration of the “Bactrian” (two hump) camel.
    Many camel herders gather to compete in camel races and polo matches. The festival opens with a parade led by a
    camel. The parade is followed by traditional music and dances. It is a great opportunity to explore the camel
    herders' nomadic way of life. The festival takes place on March 6 - 8th in South Gobi province.
</p>
<h2>
    <img src="/images/camel_1.jpg" alt="Camel Festival"/>
</h2>
<hr>

<h2>Yak Festival </h2>
<p>Only China has more yaks than Mongolia. The yak festival takes place in July in the central and northern provinces of
    Uvurkhangai and Arkhangai where the majority of Mongolia's yaks can be found. A variety of events takes place during
    the festival including yak racing, yak lassoing, and yak polo. Yak racing is probably one of the slowest racing
    competitions. Most yaks just walk or trot over the finish line instead of running. Yak lassoing is an entertaining
    competition. After the yaks are scared into running, men try to lasso them. Tourists enjoy watching yak polo as
    untrained yaks run while riders try to hit a ball with a hammer. Many awards are given to yak herders such as “The
    Best Yak Bull,” “The Herder Family with the Best Yak Herd,” “The Herder Family that Prepared the Highest Amount of
    Combed Yak Down,” “The Herder Family that Prepared the Best-Quality Yak Dairy Products,” “The Best-Decorated Yak,”
    and “The Best Handcrafted Products Made of Yak Raw Materials.” The awards are presented by domestic companies.
</p>
<h2>
    <img src="/images/yak_2.jpg" alt="Yak Festival "/>
</h2>
<hr>

<h2>The Mongols in Deel – Traditional Costume Show</h2>
<p>Mongolians celebrate the traditional costume show each year in July following the Naadam, The Three Manly Games.
    People of all ages, including the elderly and young children, wear a variety of deels with different colors and
    designs. Participants representing each district of the city of Ulaanbaatar go on parade in the main square of
    Chinggis Khaan to compete against each other. Taking photos with the participants can be a joyful experience for
    foreign visitors. </p>
<h2>
    <img src="/images/deel_2.jpg" alt="The Mongols in Deel – Traditional Costume Show"/>
    <img src="/images/deel_1.jpg" alt="The Mongols in Deel – Traditional Costume Show"/>
</h2>
<hr>

<h2>Eagle festival</h2>
<p>Every year during the first week of October, the &ldquo;Eagle festival&rdquo; is celebrated in Bayan Ulgii, in the
    far west of Mongolia. The aimag of Bayan Ulgii is situated in the breathtaking scenery of the Altai mountain range,
    where four Asian countries meet. The inhabitants of this area with its rich mix of cultures are mostly ethnic
    Kazakhs wearing their traditional embroidered clothes.</p>
<p>The &ldquo;Eagle festival&rdquo; is a tournament of falconers from the region, who hunt with trained eagles. Once a
    year, they come together from their home village to measure their skills. There are about 380 falconers organized in
    an association. They are of all ages, from the teenage boy to the octogenarian, but in keeping with tradition, no
    girls or women may practice the art.</p>
<p>The training of the future eagle-hunters sets in at a very early age. Boys under ten are initiated to the art and
    science of falconry by their father or grandfather, usually not starting right out with an eagle, but beginning with
    a smaller bird of prey. Adult falconers use the golden eagles native to the region. A tamed eagle can live up to 32
    years in captivity, but as a rule, the birds are set free again after a few years hunting. A full-grown golden eagle
    has a wingspan of about two meters, and a weight of between six and twelve pounds. The falconers normally live as
    nomadic cattle breeders for most of the year and hunt only in winter. Their eagles are trained to catch small game
    such as hares or foxes, but they are known to kill even small wolves now and again.</p>
<p>In the tournament, the eagle-hunter has to perform three tasks. At first, the mounted falconer must call his bird
    from the top of a hill to settle on his arm. Then, the eagle has to hunt for hides drawn by a running horse. At
    last, the bird must catch a live animal typically a fox. The participants are judged not only by their skills in the
    art of eagle-falconry, but also by the finery of their attire, the glove, harness and bird&rsquo;s hood made from
    deer hide, as well as the traditional hunting dress.</p>
<p>After the falconry tournament, the men engage in rider&rsquo;s games, like plucking a flower from the back of a
    running horse, or the traditional &ldquo;buzkoshi&rdquo;. In this central Asian sport sometimes said to be the
    origin of polo several riders fight for the possession of a dead goat. Horse races and archery tournaments round off
    the festival. Although it&rsquo;s a long way from Ulaanbaatar, the trip is well worth it. There is no other place on
    earth where you can see so many golden eagles at close range.</p>
<h2><img src="/images/eagle_1.jpg" alt="Eagle festival - Travel All Mongolia"/>
    <img src="/images/eagle_2.jpg" alt="Eagle festival - Travel All Mongolia"/>
</h2>
<hr>

<h2 id="naadam">Naadam Festival</h2>
<p>The Mongolian national holiday Naadam is celebrated in Mongolia each year on 11 July. &ldquo;Eriin gurvan naadam&rdquo;
    the three manly games of wrestling, horse racing, and archery- make up the core activities of the National day
    festivals.</p>
<p>Wrestling &ndash; At the start of competition all the wrestlers with the highe r title &ndash; holder in front ,
    enter the hall in a line wearing gutuls (decorated Mongolian boots. ) and hats and their wrestling costumes
    called &ldquo;zodog&rdquo;(an open fronted , long sleeves vest of silk) and &ldquo;shuudag&rdquo;(tight short trunks
    ). There are many different titles for the wrestlers such as Titan (avarge), Lion (arslan). Zaan and Falcon. All the
    names signify strength. Titles are mostly confirmed during the national festival Naadam. A wrestler who wins five
    fights in succession during one competition has the right to have the title of Falcon, and if he wins seven fights
    in succession Elephant. When a wrestler wins all the fights in a competition during one of these festivals he will
    be a Lion. If he wins a subsequent year he merits the title of titan, the highest rank. There is a variety of throws
    used to defeat opponents. Some say there are hundreds of them. When the wrestling arena or step onto the carpet in
    the case of an indoor competition and the second take off the wrestler\'s hats.</p>
<p>When a wrestler touches the ground with any part of his body other than his feet and arms, he is considered to be
    defeat. The main difference between Mongolian national wrestling and international free style wrestling is that the
    weight category of wrestlers is not taken into consideration.</p>
<p>Horse racing. Mongolian people have loved horse racing since time immemorial. A whole system for conducting the
    contests has developed over the centuries. In the races held during national festivals, including Naadam,
    participants are six age groups and the distances range from 15-30kms. No special tracks are prepared, the horses
    covering the distance in the steppe and jumping over natural barriers. Before they start the riders sing an ancient
    war-like song &ndash; Giingoo. The competitors start at the finishing line and at the signal to start and back to
    the finish line. Thus the distance is actually doubled. The horse racing can be held on saddled or unsaddled horses.
    Horses of two years older take part. The winner is honored with a cup of airag which he drinks and sprinkles on the
    head and croup of his horse. After the races, praise-singer extols the best riders and their horses.</p>
<p>Archery: the third element of the national games is archery. Five lines engraved on an ancient Mongolian target
    immortalize the phenomenal record of Yesuhei Hero, saying that his arrow hit the target at a distance of 536 meters.
    The bow is an ancient invention going back to the Mesolithic Period. Ancient Mongolians made their contribution to
    the design of the bow as a combat weapon.</p>
<p>Today Mongolian\'s use less complicated form archery than in ancient time; the target is &ldquo;wall&rdquo; made of
    cork cylinders braided together with leader straps. It is four meters long and 50cm high. The target is placed on
    the ground at a distance of 75 meters for men and 60 meters for women. In the past Mongolians used three types of
    bows; &ldquo;big hand&rdquo; (165-170cm),&rdquo;average hand&rdquo; (160cm), &ldquo;small hand&rdquo; (150cm). Today
    Mongolian\'s mostly use the average hand bow which requires a force of 22 to 38kg to draw it.</p>
<p>Arrows are usually made from pine wood and had feather fins which help the arrow to reach distance of 900 meters.
    Naadam archery also attracts individual archers as well as Teams of 8-12 people. Every male archer has forty arrows
    to shot at each target. The judges dressed in national attire, stand by the targets with hands held up after the
    arrows have been shot. They praise the best shot in a drawing recitative voice. The contests are accompanied by
    colorful national rites. Before the competition starts you hear the recitative song &ldquo;uukhai&rdquo;, calling on
    the archers to be good marksmen and hit the target.</p>
<h2><img src="/images/naadam_1.jpg" alt="Naadam Festival - Travel All Mongolia"/>
    <img src="/images/naadam_2.jpg" alt="Naadam Festival - Travel All Mongolia"/>
</h2>
<hr>

<h2>Tsagaan sar</h2>
<p>Tsagaansar or White Month is one of Mongolia&rsquo;s two major and long awaited holidays, the other being Naadam in
    July. Tsagaansar or White Month, the first month of spring, has been one of the most important celebrations of the
    Mongols for thousands of years. This is a time of the year when the winter passes away and the spring comes in.
    Tsagaansar is a festival of white food (food with white color &ndash; milk and diary products, fermented mare&rsquo;s
    milk etc.) Tsagaansar represents a heartfelt spirit of people. On this day, people clean their body and mind from
    all bad things and start a new fresh clean life. Tsagaansar is the day when people express respect to elder people
    and relatives, renew friendship and sympathy to each other and reconfirm family ties. Since the holiday means all
    relatives, neighbors, friends and guests will be treated to a lavish meal, women make more than a thousand or two
    buuzand dumplings. Ready dumplings are lined on wooden plates and put outside. The next day, frozen buuz are ready
    to be steamed. Families all across the country stock-up on food, diary products, mild milk vodka and other
    specialties for the occasion. The Tsagaansar eve or the last day of winter is called &ldquo;Bituun&rdquo;, which
    means &ldquo;full darkness&rdquo; it is a single night when no moon is invisible in the sky. Beforehand, all the
    business of the past year must be wrapped up; debts paid and good relations restored. All the Bituun ceremony is
    supposed to start when it gets dark outside. The Bituunis mainly celebrated in close family. In the evening, all the
    family members gather, the women start to set the table.</p>
<p>With the sunrise, the greeting ceremony starts inside the family. The oldest person stays in &ldquo;Hoimor&rdquo;
    (ger&rsquo;s northern side, the most respected place) and younger family members greet him or her first and then
    greet each other. The younger greets the older by extending arms with the palms up and holding the elder&rsquo;s
    elbow from underneath. This greeting is called zolgoh. Everybody greets each other except husband and wife, because
    they are believed to have become one person. Usually, people hold &ldquo;Khadag&rdquo; (holy scarf of blue silk with
    a spiritual meaning) in their arms. All of the first month of the New Year is considered a holiday and the visits
    and congratulations continue. It is necessary during that month to visit parents no matter where they live.</p>
<p>When the greeting ceremony is over, everyone sits behind the table and men starts exchanging &ldquo;Khoorog&rdquo; (a
    snuff bottle made usually semi-precious stone and filled with finely pulverized tobacco). The typical greeting words
    are &ldquo;Daagadalantai, byaruubulchintai, sureg mal targanorovuu?&rdquo; which can be translated as &ldquo;Does
    your 2 year-old horse have enough fat on the wither (means good health) does your 2-year old yak have enough muscles
    (means good power), &ldquo;did all your animals pass winter safety?&rdquo; and &ldquo;Sarshinedeesaihanorovuu?
    Nassuuderhedhurev?&rdquo;, which is used to ask an old person about her/his good health and age as people are proud
    of old age. Exchanging Khoorog means expressing friendly intentions to each other and is usually the starting point
    of introducing a stranger. Exchanging Khoorog creates a warm atmosphere between people and makes the start of a
    friendly talk that helps to learn the true heart of the stranger.</p>
<p>DO NOT during Tsagaansar&hellip;</p>
<ul>
    <li>Do not wear a black colored deel (means traditional clothes)</li>
    <li>Do not drink too much alcohol</li>
    <li>Do not spend overnight in other&rsquo;s home</li>
    <li>Do not leave animals at the pasture overnight (animals should be close to ger)</li>
    <li>Do not greet your husband or wife</li>
    <li>Do not do a haircut</li>
    <li>Do not embroil or fix old clothes</li>
    <li>Do not wear a knife or weapon</li>
    <li>Do not get anything from another ger</li>
    <li>Do not call a man by his nickname</li>
    <li>Do not argue</li>
    <li>Do not hunt or kill cattle</li>
</ul>
<p>&nbsp;</p>
<h2><img src="/images/tsagaansar_1.jpg" alt="Mongolian Adventure Tours"/><img src="/images/tsagaansar_2.jpg"
                                                                              alt="Mongolian Adventure Tours"/><img
        src="/images/tsagaansar_3.jpg" alt="Mongolian Adventure Tours"/></h2>

<style type="text/css">.blog-content-entry {
    font-size: 16px !important;
}</style>