<div class="blog-content-bordered" style="font-size: 16px;">
    <h2>Terelj Hotel</h2>
    <p>A scenic upcountry drive from Ulaanbaatar transports you to the Terelj Hotel and Spa, one of the Small Luxury Hotels of the World. Terelj Hotel is located in the heart of the Gorkhi-Terelj National Park, surrounded by the rugged grandeur of the mountains.</p>
    <img title="Terelj Hotel" src="/images/terelj-hotel1_mini.jpg" alt="Terelj Hotel" class="frame_center" style="margin-top: 20px;"/>
    <p>Discover serenity and renewal in the Tereljmaa Spa, with its array of massages and treatments. Share family time in the heated pool and Jacuzzi. Or let the children play in their own club – while you enjoy time as a couple over fine cuisine and a fine Cuban cigar. Then relax in luxurious rooms and suites designed for comfort, and accented by Mongolian antiques and contemporary art.</p>
    <img title="Terelj Hotel" src="/images/terelj-hotel2_mini.jpg" alt="Terelj Hotel" class="frame_center" style="margin-top: 20px;"/>
    <p>Terelj Hotel offers a world of possibilities. Find the ultimate in romance and tranquility in the exquisitely appointed Terelj Honeymoon Suite. Visit the Tereljmaa Spa to emerge relaxed and restored by massages and treatments. Dine privately in your room or suite or at a table for two in our restaurants. Or let us help you with every detail of planning an unforgettable wedding in our elegant ballroom or outdoors in our exclusive wedding garden, surrounded by beauty.</p>
</div>

<div class="blog-content-bordered" style="font-size: 16px; margin-top: 30px;">
    <h2>HS Khan Luxury Resort</h2>
    <p>Building was poised comfortably on a vast site. Around 45km northwest near by the famous Naadam Festival Place. From Ulaanbaatar city, it takes about 60 min. or 60 min. from the international airport by car. Seasonal wild birds comes flying, like the flock	of crane flying over the mountain of Himalaya every year. This is the best location where you can enjoy the seasonal nature.</p>
    <img title="HS Khan Luxury Resort" src="/images/khan-resort1_mini.jpg" alt="HS Khan Luxury Resort" class="frame_center" style="margin-top: 20px;"/>
    <p>Become one with nature in our luxurious lodge. Our hotel provides first-class cottages with a view across the open prairie and the silhouette of the mountains visible on the far end. We provide executive suites only, a 120 square meters comfortable space with Glass Ocean Front.</p>
    <img title="HS Khan Luxury Resort" src="/images/khan-resort2_mini.jpg" alt="HS Khan Luxury Resort" class="frame_center" style="margin-top: 20px;"/>
    <p>GER RETAURANT “TAL KHEER” <br/>
        “TAL KHEER”, which stands for “Prairie” in Mongolian, is a French Restaurant, which is divided into two large “Ger” furnished with Oriental Antiques.
    </p>
</div>

<div class="blog-content-bordered" style="font-size: 16px; margin-top: 30px;">
    <h2>Gobi Nomad Lodge</h2>
    <p>Located 30km from Yolyn Am and 60km from Flaming Cliffs, Gobi Nomad Lodge opened its doors in July 2016. This new
        luxury lodge features just 15gers for an intimate setting in the Gobi Desert. Each individual deluxe ger
        provides extra comfort for guests with an en-suite bathroom, shower and air conditioning. Simple, yet
        traditional décor make for a more authentic experience.</p>
</div>

<div class="blog-content-bordered" style="font-size: 16px; margin-top: 30px;">
    <h2>The Corporate Hotel and Convention Centre</h2>
    <p>The Corporate Hotel and Convention Centre is the newest addition to The Corporate Hotels. It is  a hotel where member of the team takes terrific pride in offering the highest levels of service, where guests are sincerely welcomed and can enjoy elegant accommodations, and the splendid Lounge & Sushi Bar and Chairman restaurant where  every best of Asian and Western cuisine served.</p>
    <img title="The Corporate Hotel and Convention Centre" src="/images/corporate-hotel1_mini.jpg" alt="The Corporate Hotel and Convention Centre" class="frame_center" style="margin-top: 20px;"/>
    <p>With 94 rooms and suites, The Corporate Hotel and Convention Centre is truly one of the finest hotels in perfect location.  The hotel is a home to the one of the outstanding restaurants in UB, our head chef is committed to the quality food that is unique and in class of its own.</p>
    <img title="The Corporate Hotel and Convention Centre" src="/images/corporate-hotel3_mini.jpg" alt="The Corporate Hotel and Convention Centre" class="frame_center" style="margin-top: 20px;"/>
    <p>Its visionary founders and passionate employees make your dining experience rigorously exclusive. Our warm and spacious lobby is provided with complimentary WIFI access, wide choice of books and a coffee shop.</p>
    <img title="The Corporate Hotel and Convention Centre" src="/images/corporate-hotel2_mini.jpg" alt="The Corporate Hotel and Convention Centre" class="frame_center" style="margin-top: 20px;"/>
</div>

<div class="blog-content-bordered" style="font-size: 16px; margin-top: 30px;">
    <h2>The Blue Sky Hotel</h2>
    <img title="The Blue Sky Hotel" src="/images/bluesky1_mini.jpg" alt="The Blue Sky Hotel" class="frame_center" style="margin-top: 20px;"/>
    <p>The Blue Sky Hotel & Tower is an elegant and a luxury hotel with spacious and exquisitely designed guest rooms, complete with delectable and superb dining cuisine from Asian to Western, perfect with specialized one and only service philosophy, and strategically located in bustling Sukhbaatar District, in the heart of Ulaanbaatar`s leading shopping and business area with spectacular and dramatic views. Unique architectural concept of “Sail Boat” and public areas which have been all designed for our guest comfort and well-being in mind. Spectacle heart of premium downtown location and convince of approaching to all necessary destination will bring the best success to your business and unforgettable remembrance in your life.</p>
    <img title="The Blue Sky Hotel" src="/images/bluesky2_mini.jpg" alt="The Blue Sky Hotel" class="frame_center" style="margin-top: 20px;"/>
</div>

<div class="blog-content-bordered" style="font-size: 16px; margin-top: 30px;">
    <h2>Ramada Hotel</h2>
    <p>Ramada Ulaanbaatar Citycenter hotel, near Gandan Tegchilen Khiid, combines the best accommodations and a great location in the heart of the city. Each morning, our Ulaanbaatar hotel serves a free breakfast, and we provide free newspapers for your convenience. Scout out area attractions from your hotel room with free Wi-Fi Internet access or at our free business center PC, then head out to see the local sites. When you return, work out at our on-site gym or relax in front of your 42-inch TV. Free large-vehicle parking is available, and kids 17 and under stay free with an adult.</p>
    <img title="Ramada Hotel" src="/images/ramada1.jpg" alt="Ramada Hotel" class="frame_center" style="margin-top: 20px;"/>
    <p><strong>LOCAL ATTRACTIONS</strong></p>
    <p>All the best attractions are within your reach when you book your room at our Ulaanbaatar hotel. Gandan Tegchilen Khiid, the largest Buddhist temple in Mongolia, is within walking distance. For a look into the history of Mongolia, visit Bogd Khans Winter Palace, one of the most impressive structures in the country from a historical and aesthetic standpoint. Take in a symphony, opera or ballet performance at the Ulaanbaatar Opera House, or grab your camera and take a walk though Sukhbaatar Square, one of the top tourist destinations in the city, just two miles away. For shopping, head to Sky Shopping Center, Max Shopping Mall or Grand Shopping Mall, all nearby.</p>
    <img title="Ramada Hotel" src="/images/ramada2.jpg" alt="Ramada Hotel" class="frame_center" style="margin-top: 20px;"/>
    <img title="Ramada Hotel" src="/images/ramada3.jpg" alt="Ramada Hotel" class="frame_center" style="margin-top: 20px;"/>
    <p><strong>DINING OPTIONS</strong></p>
    <p>An Asian Food Court, Berlin Burger, Sky Lounge Bar and a LAVAZZA Coffee Lounge are all on-site, and many popular restaurants are near our Ulaanbaatar hotel. Enjoy Chinese cuisine at Mr. Wang or try the vegetarian fare at Govinda’s Vegetarian Café. Joe’s Corner serves American-style burgers and hot dogs.</p>
    <p><strong>TRANSPORTATION SERVICES</strong></p>
    <p>Shuttle service is available between the airport and our hotel in Ulaanbaatar, and limo service is available for a fee.</p>
    <p><strong>BUSINESS AND EVENT FACILITIES</strong></p>
    <p>We offer a boardroom style conference space and a business center with 24-hour copy, fax and print services, plus free PC and high-speed Internet access.</p>
</div>
