<div class="contact-info">
    <div class="titleHeader clearfix">
        <h3>Contact Information</h3>
    </div><!--end titleHeader-->

    <address>
        <b><i class="icon-envelope-alt"></i> E-Mail:</b> <a href="mailto:info@travelallmongolia.com">info@travelallmongolia.com</a><br>
        <b>Skype:</b> soyoloo_mongolianluxurytours
    </address>

    <address>
        <strong><i class="icon-volume-up"></i> Give Us a call:</strong>
        <b><i class="icon-phone"></i> Mobile:</b> (976) 99000601<br/>
        <b><i class="icon-phone"></i> Phone:</b> (976) 70152585<br/>
        <b><i class="icon-print"></i> Fax:</b> (976) 70152585
    </address>

    <address>
        <strong><i class="icon-pushpin"></i> Address Info:</strong>
        211-24, Rapid Kharsh, Khan uul<br>
        Ulaanbaatar, Mongolia<br>
    </address>

</div><!--end contact-info-->