
<!-- subscribe buttons -->
<div class="subscribe_btn">
    <div>
        <a href="{{ path('tour_show', {'slug' : 'jewels-of-mongolia-with-rural-naadam-festival-in-khuvsgul-lake'}) }}"><img src="/images/order-catalog-urt.jpg" alt="Order Free Catalog and Mongolian Travel Book"/></a>
    </div>
</div>
<!--/ subscribe buttons -->