{#
<!-- widget_recent_comments -->
<div class="widget-container widget_popular">
    <h3 class="widget-title">Discount</h3>
    <strong>Discount for children:</strong>
    <br/>&nbsp;&nbsp;100% for children 0-2 years old
    <br/>&nbsp;&nbsp;50% for children 3-12 years old

    <br/><strong>Discount for tour leader:</strong>
    <br/>&nbsp;&nbsp;100% 	by 15 and more!

</div>
<!--/ widget_recent_comments -->
#}